/* Add this to your CSS file (e.g., Home.css) */
.nav-link {
  position: relative;
  display: flex;
  transition: transform 0.3s;
  gap: 0.5rem; /* Optional: adds space between text and icon */
    align-items: center;
}

.nav-link:hover {
  transform: scale(1.10);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #b45309; /* amber-700 */
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:visited {
  color: #fff;
}

.nav-link:visited::after {
  background: #b45309; /* amber-700 */
}

.dropdown-menu {
  position: absolute;
  margin-top: 1.3rem;           /* mt-6 */
  width: 174px;                 /* w-[174px] */
  height: 6rem;                 /* h-24 */
  background: #000;             /* bg-black */
  display: flex;                /* flex */
  justify-content: center;      /* justify-center */
  align-items: center;          /* items-center */
  border-radius: 0.125rem;      /* rounded-sm */
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1); /* shadow-lg */
  opacity: 0;                   /* opacity-0 */
  transition: opacity 0.2s;     /* transition-all duration-200 */
  z-index: 10;                  /* z-10 */
  visibility: hidden;           /* invisible */
  left: -20px;                  /* left-[-20px] */
}

.group:hover .dropdown-menu,
.group:focus .dropdown-menu {
  opacity: 1;                   /* group-hover:opacity-100 */
  visibility: visible;          /* group-hover:visible */
}

.dropdown-menu-do {
  position: absolute;
  margin-top: 1.3rem;           /* mt-6 */
  width: 1000px;               /*  w-[174px] */
  height: 30rem;                 /* h-24 */
  background: #000;             /* bg-black */
  display: flex;                /* flex */
  justify-content: center;      /* justify-center */
  align-items: center;          /* items-center */
  border-radius: 0.125rem;      /* rounded-sm */
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1); /* shadow-lg */
  opacity: 0;                   /* opacity-0 */
  transition: opacity 0.2s;     /* transition-all duration-200 */
  z-index: 10;                  /* z-10 */
  visibility: hidden;           /* invisible */
  left: -20px;                  /*left-[-20px] */
}

.group:hover .dropdown-menu-do,
.group:focus .dropdown-menu-do {
  opacity: 1;                   /* group-hover:opacity-100 */
  visibility: visible;          /* group-hover:visible */
}